.main-nav {
    background-color: $light-green;
    .navbar-brand {
        color: #fff;
    }
    .navbar-toggler {
        border-color: rgba(255, 255, 255, 0.2);
        &:focus {
            outline: 1px auto rgba(255, 255, 255, 0.2);
        }
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
            color: #fff;
        }
    }
    .collapse {
        .navbar-nav {
            .nav-item {
                padding-left: $short-distance;
                padding-right: $short-distance;
                &:hover {
                    background-color: #fff;
                    .nav-link {
                        color: $light-green;
                    }
                }
                .nav-link {
                    color: #fff;
                    .cart-count {
                        width: 18px;
                        height: 18px;
                        border-radius: 50%;
                        display: inline-block;
                        line-height: 17px;
                        text-align: center;
                        background-color: $blue;
                        color: #eee;
                        position: relative;
                        top: 1px;
                        left: -2px;
                    }
                }
            }
        }
    }
}