// Body
$body-bg: #f8fafc;
// Typography
$font-family-sans-serif: 'Nunito',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$light-green: #8BC34A;
$black: #333;
$sub-white: #f8f8f8;
// Directions
$left: left;
$right: right;
$row: row;
$row-reverse: row-reverse;
$column: column;
// Screens Width
$phone-width: 767px;
$tab-min-width: 768px;
$tab-max-width: 992px;
$screen-min-width: 993px;
$screen-max-width: 1200px;
// Distance width
$little-distance: 10px;
$short-distance: 20px;
$medium-distance: 40px;
$page-height: 83vh;
$page-with-breadcrumb-height: 71vh;